html,
body {
  margin: 0;
  padding: 0;
}

.genres {
  display: flex;
  flex-flow: row wrap;
}
.box {
  flex-basis: 500px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  line-height: 100px;
  flex-grow: 1;
}
.Action {
  background: dodgerblue;
  flex-grow: 1;
}
.Thriller {
  background: rgb(190, 178, 178);
  flex-grow: 10;
}
.Comedy {
  background: rgb(255, 214, 30);
  flex-grow: 10;
  order: 3;
}
.Horror {
  background: black;
  color: white;
  flex-grow: 1;
  order: 4;
}
.Drama {
  background: darkgray;
  flex-grow: 1;
  order: 5;
}
.Romance {
  background: red;
  flex-grow: 1;
  order: 6;
}
